<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script src="" async defer></script>
  </body>
</html>
<body>
  
  <div id="ReturnCalculator">
    <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Select Option
      
    </button>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" >Beginner's</a></li>
      <li><a class="dropdown-item" >Hybrid</a></li>
      <li><a class="dropdown-item" >Middle Class</a></li>
      <li><a class="dropdown-item" >Finest companies</a></li>
      <li><a class="dropdown-item" >Hybrid</a></li>
    </ul> -->
    <div id="sum">
      
      <span > Enter the amount </span><input  type="number" name="principle" #amount >
      <br>
      <span> Will amount to(5y) </span>  <input type="number"   #returns  value={{result}} readonly>
      
    </div>
    <button type="button" class="btn btn-outline-secondary" #calculate (click)="Returns(amount.value)" >Calculate </button>
    
  </div>
  


</body>
<script>



</script>
          
        
 